<%- include('includes/head.ejs') %>
    <h2>
        <%= error_msg %>
    </h2>
    <div id="loadingBuffering" class="d-none"></div>
    <form id="passwordForm" action="register/result" method="post">
        <div class="row" id="registerForm">
            <div class="col-md-3 col-lg-4"></div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="../images/nasa-logo.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="m-2"><b>Sign Up</b></h5>
                        <div class="form-group m-2">
                            <label for="emailInput" class="form-label">Email address</label>
                            <input type="email" class="form-control " id="emailInput" name="emailInput" aria-describedby="emailHelp" placeholder="Enter email" required>
                            <div class="text-danger errormessage"></div>

                        </div>
                        <div class="form-group m-2">
                            <label for="firstNameInput" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstNameInput" name="firstNameInput" placeholder="First name">
                            <div class="text-danger errormessage"></div>

                        </div>
                        <div class="form-group m-2">
                            <label for="lastNameInput" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastNameInput" name="lastNameInput" placeholder="Last name">
                            <div class="text-danger errormessage"></div>

                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end m-3">
                            <a href="http://localhost:3000/" class="button btn btn-outline-secondary">Back</a>
                            <button type="button" id="registerFirstPart" class="btn btn-outline-primary">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-4"></div>
        </div>

        <div class="row m-3 d-none" id="passwordDiv">
            <div class="col-md-3 col-lg-4"></div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="../images/nasa-logo.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5><b>Please enter password</b></h5>
                        <div class="form-group m-2">
                            <label for="passwordInput">Password</label>
                            <input type="password" class="form-control" name="passwordInput" id="passwordInput" placeholder="Password">
                            <div class="text-danger errormessage"></div>

                        </div>
                        <div class="form-group m-2">
                            <label for="comfirmPasswordInput">Confirm Password</label>
                            <input type="password" class="form-control" name="confirmPasswordInput" id="confirmPasswordInput" placeholder="Password">
                            <div class="text-danger errormessage"></div>

                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end m-3">
                            <button type="submit" class="btn btn-outline-primary">Finish</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-4"></div>
        </div>
    </form>

    <%- include('includes/end.ejs') %>