<%- include('includes/head.ejs') %>

    <div class="row m-3">
        <div class="col-md-3 col-lg-4"></div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://png.pngtree.com/png-vector/20191113/ourmid/pngtree-green-check-mark-icon-flat-style-png-image_1986021.jpg" class="img-fluid" alt="...">

                    <h1 class="text-success">Registration completed successfully</h1>

                    <h4>
                        <%= user_name %>, Go to the home page and log in </h4>

                    <img src="https://thumbs.gfycat.com/GenuineOddballCleanerwrasse-max-1mb.gif" class="img-fluid m-3" alt="...">


                    <div class="d-grid gap-2 d-md-flex justify-content-md-end m-2">
                        <a href="http://localhost:3000/" class="button btn btn-success">Go Home page to Login</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-4"></div>
        </div>

        <%- include('includes/end.ejs') %>